@model Phonebook.Entities.Campaign

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Campaign</legend>

        @Html.HiddenFor(model => model.CampaignId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    Search: @Html.TextBox("Search For Contacts", "", new { id = "addContactToCampaign", placeholder = "Add a contact" })
</div>

<div class="campaign-attendees-display">
    <div class="labels">
        <div class="column-header">Name</div>
        <div class="column-header">Phone Number</div>
    </div>
    <div class="fake-table">
        <div class="ui-widget-content, campaign-attendees-names"></div>
        <div class="ui-widget-content, campaign-attendees-phonenumbers"></div>
        <div class="ui-widget-content, campaign-attendees-delete"></div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery-ui-1.8.24.min.js")
    @Scripts.Render("~/scripts/autocomplete.js")
}
