@model List<Phonebook.Models.ContactModel>

@{
    ViewBag.Title = "My Contacts";
}

<h2>My Contacts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form>
    <input type="text" name="search" placeholder="Search for contacts"/>
    <input type="submit" value="Search" />
</form>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Phone Number
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
       <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContactId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContactId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContactId })
        </td>
    </tr>
}

</table>
